.header, .header-logged-out {
	display: flex;
	flex-wrap: wrap;
	background: #eee;
	height: 80px;
}

.header-logged-out {
	align-content: space-between;
	height: 80px;
}

h1 {
	font-size: 3em;
	margin: 10px;
}

ul {
	display: flex;
	flex-wrap: wrap;
}

ul>li {
	margin: 24px;
  list-style: none;
}